img {
    height:auto;
    width:300px;
}

h1,h2 {
    font-family:"Times New Roman", sans-serif;
    text-align:center;
}

h1{
    color:hsl(0,100%,50%);
    font-family:papyrus;
}

h2{
    color:green;
}

#home{
    font-family:"Times New Roman";
}